<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Node.js
        link(rel="stylesheet" href="/css/style.css")
    body
        nav
            a.cont(href="/")
                img(
                    src="/img/logoNode.png" 
                    alt="logoNode"
                    class="logo"
                    ) 
        h1 Hasta que contactes con nosotros...échale un vistazo a estas noticias
        h3.notice=titulo
        div.notice
            p.notice=contenido
            img.notice(src=url)
       






        a.cont(href="/") HOME
        //- script(src="/js/front")